<div class="edit-card">
    <div class="card-title">
        <h1>Alkatrész létrehozása / módosítása</h1>
    </div>
    <form class="form-group" [formGroup]="editForm" (ngSubmit)="onSave()">
        <input name="name"  formControlName="name" placeholder="Alkatrész név">
        <input name="supplier"  formControlName="supplier" placeholder="Beszállító">
        <input name="price"  formControlName="price" placeholder="Beszerzési ár">
        <button>Mentés</button>
    </form>
    <div class="exit-button">
        <button (click)="back()">Vissza</button>
        <button (click)="logout()">Kilépés</button>
    </div>
</div>